*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    height: 100%;
}

html{
    background: linear-gradient(to bottom, #010406, #072533);
    /* font-size: 2vmin; */
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 1.2;
}

h2 {
    font-size: 1.75rem; /* 28px */
    line-height: 1.3;
}

h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.4;
}

h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.5;
}

h5 {
    font-size: 1rem; /* 16px */
    line-height: 1.6;
}

h6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.7;
}

.u-fw-b{
    font-weight: bold !important;
}

.u-c-gray{
    color: #878a92;
}

.u-c-light-gray{
    color: #B6C2E0;
}

.u-c-dark-gray{
    color: #516992;
}

.register-section{
    height: 100%;
    display: flex;
    padding: 15px;
}

.register-box{
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    border-radius: 20px;
}

.register-content{
    padding: 30px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.register-header{
    display: flex;
    flex-wrap: wrap;
    background: #355070;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.register-header-process{
    flex: 1;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5px;
}

.rh-active{
    border-radius: 0 50px 50px 0;
    background: linear-gradient(to right, #0822347a, #072533) !important;
    color: #fff !important;
}

.register-content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.register-label{
    display: block;
    margin-bottom: 5px;
    color: #878a92;
}

.form-input{
    /* margin: 0 20px 20px 20px; */
    width: 100%;
    max-width: 400px;
    margin-right: 10px;
}

.register-input{
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 2px solid #355070;
    border-radius: 5px;
}

.c-danger{
    color: red;
}

#btn-continue{
    background-color: #355070;
    color: #fff;
    height: 40px;
    width: 120px;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

#btn-continue:hover{
    opacity: 0.7;
}

.register-form{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    flex-direction: column;
    max-width: 850px;
}

@media only screen and (max-width: 625px) {
    .d-flex{
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0;
    }

    .form-input{
        max-width: 100%;
        margin-right: 0;
    }

    .register-input{
        width: 100%;
        margin-bottom: 10px;
    }

    .register-number span, .register-number h5{
        font-size: 13px;
    }

    .register-section{
        padding: 0;
        border-radius: 0;
    }

    .register-box, .register-header, .register-content{
        border-radius: 0;
    }

    .register-content-header{
        align-items: baseline;
    }

    .register-content{
        padding: 15px;
    }

    #btn-continue{
        margin-top: 10px;
    }
    
}


