@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --gradient-color: linear-gradient(to bottom, #010406, #072533);
    --primary-color: #1c2331;
    --secondary-color: #333333;
    --accent-color: #02718A;
    --background-color: #F7FAFC;
    --header-color: #808080;
    --card-header-color: #036886;
    /* --card-header-color: #006064; */
    --card-header-color1: #2f4f4f;
    --delete-btn-color: rgb(246, 51, 51);
    --view-btn-color: #26cad3;
    --edit-btn-color: rgb(24, 221, 80);
    --mg-bottom-10: 20px;
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #02718A;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Merriweather", serif; */
    /* font-family: 'Lato', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}
body {
    height: 100%;
}

section {
    height: 100%;
}

/* Utilities */

h1 {
    font-size: 2rem; /* 2 times the base font size (32px assuming base is 16px) */
}

h2 {
    font-size: 1.5rem; /* 1.5 times the base font size (24px) */
}

h3 {
    font-size: 1.25rem; /* 1.25 times the base font size (20px) */
}

h4 {
    font-size: 1.125rem; /* 1.125 times the base font size (18px) */
}

h5 {
    font-size: 1rem; /* Equal to the base font size (16px) */
}

h6 {
    font-size: 0.875rem; /* 0.875 times the base font size (14px) */
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

.f-weight-bold{
    font-weight: bold;
}

.f-weight-6{
    font-weight: 600;
}

.f-weight-5{
    font-weight: 500;
}

.f-weight-4{
    font-weight: 400;
}

.f-weight-3{
    font-weight: 300;
}

.u-bg-white{
    background-color: var(--white);
}

.u-bg-primary{
    background-color: var(--primary);
}

.u-bg-danger{
    background-color: var(--danger);
}

.u-m-15{
    margin: 15px;
}

.u-action-btn{
    padding: 5px 10px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.u-action-btn:hover{
    opacity: 0.7;
}

.m-auto-p{
    margin: auto 5vw;
}
.cursor-p{
    cursor: pointer;
}
.btn-act{
    box-shadow: 0 0 3px rgba(43, 98, 107, 0.8) !important;
    background-color: #0ac5cb !important;
    border: 2px solid #d8e6e6 !important;
}

.black_wallpaper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    background-color: #21212172;
}
/* Loading Animation */
.sk-chase-position{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #21212172;
}

.sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-text{
    position: absolute;
    top: 60%;
    color: white;
}

.sk-chase-text{
    font-weight: bold;
    font-size: 15px;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
50% {
    transform: scale(0.4); 
} 100%, 0% {
    transform: scale(1.0); 
}
}

.u-input {
    height: 2.5rem;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3b3b;
    font-size: 1rem;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ddd;
}

.u-input-border-boottom{
    height: 2.5rem;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 10px;
    color: #3c3b3b;
    font-size: 1rem;
    outline: none;
    border-bottom: 1px solid #717171;
}

.u-responsive-table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
}

.u-responsive-table th,
.u-responsive-table td {
    padding: 0.7rem;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #eae9e9;
}

.u-responsive-table tbody tr:last-child td {
    border-bottom: none !important;
}

.u-responsive-table th {
    background-color: #f0f2f5;
    font-weight: bold;
}

.u-responsive-table tbody tr:nth-child(even) {
    background-color: #f9fafb;
}

.u-responsive-table tbody tr:hover {
    background-color: #02718a28;
}

/* .footer{
    background-color: var(--background-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    align-items: center;
    padding: 20px 20px;
} */

/* End of Scrollbar */

/* Register Input Content */
.r_form_title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
}


.register_content {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
}

.register_logo {
    width: 50%;
}

.register_form {
    width: 50%;
    padding: 0 30px;
}

.register_form_content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_input_content {
    width: 100%;
}

.d-iblock {
    display: inline-block;
    width: 100%;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_input_content {
    line-height: 40px;
}

.register_input_content label {
    display: block;
    font-weight: bold;
}

.register_input_content .r_input {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 14px;
    outline: none;
    border: 1px solid #b9b8b8;
}

.r_radio_btn {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.register_input_content .d-flex .d-iblock:first-child {
    margin-right: 15px;
}

.create_account {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #26cad3;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.create_account:hover {
    opacity: 0.8;
    cursor: pointer;
}

.register_logo {
    display: flex;
    align-items: center;
}

.register_logo img {
    height: auto;
    width: 100%;
}

.register_links {
    text-decoration: none;
    color: #26cad3;
    font-weight: bold;
}

.register_links:hover {
    text-decoration: underline;
}

/* Login */
.login_logo {
    display: flex;
    align-items: center;
    background-color: white;
    width: 30%;
    border-right: 1px solid #26cad3;
    background-color: #26cad3;
}

.login_logo img {
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .register_logo,
    .login_logo {
        display: none;
    }
    .register_form_content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .register_form_content_center {
        padding: 15px;
    }
    .d-flex {
        display: block;
    }
    .r_radio_btn {
        position: relative;
        top: 1.7px;
    }
}

/* Dashboard */
.toggle {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.toggle_middle {
    visibility: hidden;
    background-color: var(--primary-color);
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    z-index: 1;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 270px;
    padding: 10px 20px;
    background: var(--gradient-color);
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-y: auto; */
    /* scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    -ms-overflow-style: none;  */
}

/* .sidenav::-webkit-scrollbar {
    width: 5px; 
}

.sidenav::-webkit-scrollbar-thumb {
    background-color: transparent; 
} */

/* .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 230px;
    padding: 10px 30px;
    background: var(--gradient-color);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.682) 2.4px 2.4px 3.2px;
} */
/* .sidenav div{
    margin-bottom: 20%;
} */

.sidenav_logo {
    align-items: center;
    width: 100%;
    cursor: default;
    margin-top: 20px;
    margin-bottom: 15%;
}

.sidenav_logo img {
    cursor: pointer;
    width: 100%;
    object-fit: contain;
}

.sidenav_links {
    margin-bottom: 20%;
    overflow-x: auto;
    max-height: 650px;
    scrollbar-width: thin; /* Set the scrollbar width for modern browsers */
    scrollbar-color: #02718A transparent; /* Set the scrollbar color for modern browsers */
    -ms-overflow-style: none; /* Hide the scrollbar in Internet Explorer/Edge */
    padding-right: 15px;
}

/* For WebKit browsers (Chrome, Safari) */
.sidenav_links::-webkit-scrollbar {
    width: 15px; /* Set the scrollbar width */
}

/* For WebKit browsers (Chrome, Safari) */
.sidenav_links::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Set the scrollbar thumb color */
    border-radius: 3px; /* Set the scrollbar thumb border radius */
}

/* For WebKit browsers (Chrome, Safari) */
.sidenav_links::-webkit-scrollbar-track {
    background-color: transparent; /* Set the scrollbar track color */
}


.sidenav .sidenav_links ul {
    list-style: none;
}

.sidenav .sidenav_links ul li {
    padding: 5px 10px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    border: 2px solid #02718A;
    border-radius: 15px;
}

/* .sidenav .sidenav_links ul li span {
    margin-right: 10px;
    color: #e0ebeb;
} */

.sidenav .sidenav_links ul li img {
    margin-right: 10px;
    filter: brightness(0) invert(1);
    /* font-weight: bold; */
}

.sidenav .sidenav_links ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    display: block;
    height: 100%;
    font-size: 14px;
}

.active:hover {
    cursor: pointer;
    background-color: #02718A;
}

.sidenav .sidenav_links ul li#current_link {
    background-color: #02718A;
}

.sidenav_user_info {
    height: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.user_picture img {
    height: 110px;
    width: 110px;
    max-width: 130px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

#img_user_photo:hover,#logout:hover{
    opacity: 0.7;
}


/* User Info */
.approve_reg_btn{
    display: flex;
    gap: 10px;
}
.store_info_link,
.user_info_link {
    text-decoration: none;
    padding: 10px 40px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 10px;
    border: none;
    min-width: 50px;
}

.store_info_link:hover,
.user_info_link:hover {
    opacity: 0.7;
}

.user_picture {
    position: relative;
    margin-bottom: 10px;
}
.user_info_logout {
    text-align: center;
    margin-bottom: 7%;
}

#img_user_photo:hover {
    opacity: 0.7;
}
#photo_label:hover #img_user_photo {
    opacity: 0.7;
}

#photo_label:hover::after {
    content: "Upload";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
}

/* End of User Info */

.main_content {
    margin-left: 290px;
    /* padding: 0 20px 0 20px; */
    height: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}


.header_title_h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: var(--secondary-color);
}

.header_title_h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header_title_child {
    color: #939191;
}

/* Top Navbar */
.top_navbar {
    border-bottom: 1px solid #959090;
    position: relative;
    margin-top: 20px;
}

.currentDateTime{
    padding: 15px 0;
    font-weight: 500;
}
/* End of Top Navbar */

/* Grid */

/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    grid-template-rows: 220px;
    grid-gap: 30px;
    justify-content: center;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(22rem, 1fr));  /* Change this line */
    grid-template-rows: 220px;
    grid-gap: 30px;
}

.container {
    display: none;
}

.container_today,
.container_my_attendance,
.container_my_stuff,
.container_my_store_location {
    /* border-radius: .375rem; */
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
.container_today,
.container_my_attendance{
    width: 100%;
}
.container_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-header-color);
    color: white;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.my_break,
.today_attendance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.flex-column{
    flex-direction: column;
    gap:20px;
}
.my_break_btns,
.today_attendance_btns{
    display: flex;
    gap:10px;
}
.container_attendance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    
}
.my_break_message,
.today_attendance_message{
    font-style: italic;
}
.clock_out_btn,
.clock_in_btn{
    text-decoration: none;
    color: white;
    /* padding: 10px; */
}
.break_start_btn,
.break_end_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 5px;
}
.today_clock_out,
.today_clock_in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    gap: 5px;
    
}
.today_clock_in, .break_start_btn{
    background: #238c7c;
    border-radius: 5px;
}
.today_clock_out, .break_end_btn{
    background: #882c03;
    border-radius: 5px;
}
.break_start_btn:hover,
.break_end_btn:hover,
.today_clock_out:hover,
.today_clock_in:hover{
    opacity: 0.7;
}

/* Store Location */
.container_my_store_location {
    grid-column: 1/-1;
    /* padding: 40px; */
    /* width: 100%; */
}

.action-button-log {
    border: none;
    cursor: pointer;
}

.action-button-log:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media only screen and (max-width: 650px) {
    .sidenav_parent {
        display: none;
    }
    .main_content {
        margin: auto;
    }
    .toggle_middle {
        visibility: visible;
    }
    .grid {
        /* grid-template-columns: 1fr;  */
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
        grid-template-rows: auto;
    }

    #sched_pre_edit_btn{
        width: 150px;
        margin-top: 0px;

    }
}
@media only screen and (max-width: 844px) {
    #sched_pre_edit_btn{
        width: 150px;
        margin-top: 0px;

    }
}

/* End of dashboard */

/* My Attendance */

.create_schedule_profile,
.view_schedule_profile,
.edit_schedule_profile,
.attendance_summary_content,
.schedule_profile_content{
    width: 100%;
    height: 100%;
}

#sched_pre_edit_btn{
    margin-top: 10px;
}


.attendance_summary_report,
.schedule_profile_report {
    /* height: 100%; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow: hidden;
    border-radius: 5px;
}

.summary_report {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sr_from_date,
.sr_to_date {
    width: 100%;
    padding: 10px 30px;
    flex-basis: 100%;
    flex-grow: 1;
}

.sr_from_date label,
.sr_to_date label {
    display: block;
    margin-bottom: 10px;
}

.sr_from_date input,
.sr_to_date input {
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid black;
    background-color: var(--background-color);
}

.sr_from_date input[type="date"],
.sr_to_date input[type="date"] {
    padding: 10px 0;
}

.datebtn {
    margin: 10px 25px;
    text-align: end;
    padding: 10px 0;
}

#export_excel{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--card-header-color);
    color: white;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.date_generate {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#export_excel:hover,
.date_generate:hover {
    opacity: 0.7;
}




@media only screen and (max-width: 500px) {
    html {
        width: 100%;
    }
    .summary_report {
        display: block;
    }
    .sr_from_date,
    .sr_to_date {
        padding: 25px 0px;
    }
    .attendance_summary_report {
        padding: 20px;
    }
    .datebtn {
        margin: auto;
    }
}

/* End of My Attendance */

/* Validation  */
.text-danger {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.text-success{
    color: green;
    font-weight: bold;
}

.text-pending{
    color: rgb(235, 141, 26);
    font-weight: bold;
}

.register_success {
    font-weight: bold !important;
    color: green !important;
    text-align: center !important;
}
/* End of Validation */

/* My Profile Content */

.profile_content{
    width: 100%;
    height: 100%;
}

.profile_info{
    height: 100%;
    width: 100%;
}

.info_header_design1{
    background-color: var(--card-header-color);
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.info_header_design2{
    background-color: var(--card-header-color1);
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.info_header_design1:hover, .info_header_design2:hover{
    opacity: 0.9;
}

.pic label{
    display: block;
}

.pic_input{
    display: inline-block;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.pic_input_main_table{
    width: 100%;
    overflow-x: auto;

}

.pic_input_table{
    min-width: 150px;
}

.pic_input label{
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 13px;
}

.pic_input input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #a1a1a1;
    text-align: center;
    font-size: 13px;
}

.profile_info_content{
    display: none;
    border-radius: 10px;
    background-color: #ffffffa2;
}

.info_padding{
    padding: 10px 20px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.my_profile_save_btn{
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--accent-color);
}

.my_profile_save_btn:hover{
    opacity: 0.7;
}

.my_profile_employee_info{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: var(--header-color);
    outline: none;
}

/* End of Profile Content */

/* Home */

.home_content{
    display: flex;
    height: 100%;
    width: 100%;
}

.face_recognition_details {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face_recognition_image {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face_recognition_image img {
    height: 100%;
    width: 100%;
}

.home_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.face_recognition_description {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 800px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h_btn {
    padding: 15px 25px;
    background-color: rgb(34, 103, 118);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .face_recognition_image {
        display: none;
    }
    .face_recognition_details {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* End of Home */

/* User Accounts */

.useraccounts_edit_btns{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.user_accounts_table {
    width: 100%;
    overflow-x: auto;
    display: none;
}
.dashboard_table{
    width: 100%;
    overflow-x: auto;
}

.mg-bottom {
    margin-bottom: var(--mg-bottom-10);
}

.label_input {
    margin-bottom: 10px;
    width: 100%;
}

.label_input label {
    font-size: 14px;
    font-weight: 500;
}
.label_input_import {
    width: 95%;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;

}
.label_input input {
    width: 95%;
    height: 30px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--secondary-color);
}
.addaddress_btn,
.addaccount_btn {
    padding: 10px 30px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-right: 50px;
    margin-top: 5px;
}
#close_btn{
    position: static;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 9px 30px; 
}
#close_btn:hover{
    opacity: 0.7;
}
.retake_photo_btn{
    background-color: #F63333;
    border: none;
    padding: 9px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    /* text-align: right; */
}
.addaddress_close,
.addaccount_close {
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 9px 30px;
    margin-right: 14px;
    margin-top: 5px;
}

.addaddress_close:hover,
.addaddress_btn:hover,
.addaccount_btn:hover,
.download_temp_btn:hover,
.addaccount_close:hover {
    opacity: 0.7;
}
.storeAddress_add_header,
.useraccounts_add_header {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.useraccount_view_img,
.useraccount_view,
.useraccount_reject,
.useraccount_delete,
.useraccount_edit,
.useraccount_approve,
.useraccount_activate {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-block;
}
.log_user_delete:hover,
.log_user_view:hover,
.useraccount_view_img:hover,
.useraccount_view:hover,
.useraccount_reject:hover,
.useraccount_delete:hover,
.useraccount_edit:hover,
.useraccount_approve:hover,
.useraccount_activate:hover {
    opacity: 0.7;
}
.useraccount_reject,
.useraccount_delete {
    background-color: rgb(246, 51, 51);
}
.useraccount_view_img,
.useraccount_view {
    background-color: #26cad3;
}

.useraccount_edit, .useraccount_approve {
    background-color: rgb(24, 221, 80);
}

.useraccounts_action_btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

/* Select2 Add User */

.add_user_success {
    margin-top: 14px;
    font-size: 14px;
    color: green;
}

.add_user_delete {
    margin-top: 14px;
    font-size: 14px;
    color: rgb(255, 0, 0);
}

/* DataTable Design */

table.dataTable {
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

table.dataTable thead th {
    font-weight: bold;
    background-color: var(--primary-color);
    color: #ffffff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.dataTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.dataTable tfoot th {
    font-weight: bold;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* End of User Accounts */

/* Editing */
/* My Official Business and My Overtimes Same Content*/

.my_official_business_content{
    /* height: 100%; */
    overflow: auto;
    margin: 0 5vw 10vw 5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.my_official_business_main_content{
    height: 100%;
    width: 100%;
}

.my_official_business_header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-header-color);
    color: white;
    height: 40px;
}

.my_official_businesses{
    /* margin: 25px 25px 0px 25px; */
}

.my_official_businesses_header{
    color: var(--header-color);
    font-weight: bold;
    text-underline-offset: 10px;
    transition: text-decoration 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--header-color);
}

.my_official_businesses_header_active{
    color: var(--card-header-color);
    border-bottom: 2px solid var(--card-header-color);
}

.my_official_businesses_header:hover{
    color: var(--card-header-color);
    border-bottom: 2px solid var(--card-header-color);
}

.my_official_business_add{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 100px;
    background-color: var(--accent-color);
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.my_official_business_add:hover{
    opacity: 0.7;
}

@media screen and (max-width: 1020px) {
    .my_official_businesses_header {
        text-underline-offset: 5px;
    }

    .my_official_business_request_pending_content {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.my_official_business_request_pending{
    color: var(--header-color);
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.my_official_business_request_pending_content {
    display: flex;
    margin: 15px;
    border: 1px solid #ddd;
}

.request_pending {
    width: 45%;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.request_pending p{
    margin-top: 10px;
    color: #333333;
}

.request_pending label{
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.request_pending_btn{
    border-radius: 3px;
    margin: 2px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}

#request_pending_btn_update{
    background-color: #26CAD3;
}

#request_pending_btn_cancel{
    background-color: #a8a6a6;
}
#request_pending_btn_update:hover, #request_pending_btn_cancel:hover{
    opacity: 0.7;
}

.my_official_business_request_pending_content > .request_pending:not(:last-child) > p {
    font-size: 14px;
}

/* End of Official Business */

/* My Leaves */

.my_leaves_content{
    /* height: 100%; */
    overflow: auto;
    margin: 0 5vw 10vw 5vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.current_leave_credit{
    margin: 25px;
    font-weight: bold;
}

.current_leave_credit_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current_leave_credit_header span{
    color: var(--header-color);
}


.current_leave_credit_content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.leave_type {
    display: flex;
    margin-bottom: 10px;
}

.leave_type label {
    width: 50%;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.leave_type span {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
}

.user_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row !important;
}

.user_img_content {
    min-width: 400px;
}

.user_img_content p {
    color: rgb(0, 0, 0);
}

#pop_img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    width: 60%;
    /* width: unset; */
    position: fixed;
    z-index: 999;
    background-color: #f1f2fa;
    /* transform: translateX(10%) translateY(20%); */
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #1C2331;
}

#close_modal_btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-weight: bolder;
    display: grid;
    place-items: center;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    color: white;
    background-color: #1C2331;
}

.pop_img_hide {
    display: none;
}

.pop_img_show {
    display: block;
}

.import_modal_btn{
    display: flex;
    justify-content: center;

    
}

.user_img_content1, .user_img_content2{
    margin: 10px;
    width: 200px;
    height: 100%;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .user_img_content1, .user_img_content2 {
    min-width: 200px;
    }
    .user_info_link{
    width: 400px;
    text-align: center;
    }
    .import_modal_btn{
        margin-top: 10px;
    }
}
.user_img_content1 p, .user_img_content2 p{
    font-weight: bold;
    font-size: 14px;
}


#user_face_recog_img1, #user_face_recog_img2{
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

#req_op{
    font-size: small;
    color: #3ACAD3;
}

.log_btn{
    text-align: center;
    margin-top: 50px;
}

#redirect_attendance_icon{
    background-color: #26CAD3;
    font-size: 80px;
    color: #ffffff;
    padding: 10px;
    border-radius: 20%;
    margin-top: 15px;

}

#redirect_attendance_icon:hover{
    background-color: #2ad5de;
}

#table_generate,th,td{
    /* border: 1px solid black; */
    border-collapse: collapse;
    
}
th,td{
    padding-top: 15px;
    padding-right: 40px;
}

#display_table{
    min-width: 400px;
    overflow-x: auto;
    padding-bottom: 50px;
    padding-left: 50px;
}

#table_content:hover {
    background-color: #f2eeee;
}

.table_manage_schedule{
    width: 100%;
}

.table_manage_schedule,
.table_manage_schedule td,
.table_manage_schedule th
{
    font-size: small;
    border: 2px solid #e2e1e1;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

.table_manage_schedule td input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid grey;
}

.save_profile_btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}




.table_schedule,
.table_schedule td,
.table_schedule th
{
    font-size: small;
    border: 2px solid #e2e1e1;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

.table_schedule td input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid grey;
}
.create_input_time,
.input_time{
	text-align: center;
}

#int_createdby{
    font-weight: bold;
    color: black;

}

.modal_header{
    margin-bottom: 50px;
    text-align: center;
}
.modal_button{
    text-align: center;
    margin-bottom: 15px;
}

.modal_body{
    text-align: center;
    margin: 20px;
}

#import_accounts {
    outline: none;
    padding: 4px;
    margin: -4px;
}

#import_accounts:focus-within::file-selector-button,
#import_accounts:focus::file-selector-button {
outline: 2px solid #0964b0;
outline-offset: 2px;
}

#import_accounts::before {
top: 16px;
}

#import_accounts::after {
top: 14px;
}

#import_accounts {
position: relative;
}

#import_accounts::file-selector-button {
width: 136px;
color: transparent;
}

#import_accounts::before {
position: absolute;
pointer-events: none;
left: 40px;
color: #0964b0;
content: "Upload File";
}

#import_accounts::after {
position: absolute;
pointer-events: none;
left: 16px;
height: 20px;
width: 20px;
content: "";
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

#import_accounts::file-selector-button {
border-radius: 4px;
padding: 0 16px;
height: 40px;
cursor: pointer;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.16);
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
margin-right: 16px;
transition: background-color 200ms;
}

#import_accounts::file-selector-button:hover {
background-color: #f3f4f6;
}

#import_accounts::file-selector-button:active {
background-color: #e5e7eb;
}

.download_temp_btn{
    text-decoration: none;
    background-color: white;
    border: 1px solid #D6D6D6;
    font-size: small;
    border-radius: 10px;
    color: #0964B0;
    padding: 5px;
    text-align: center;
}

.swal-title-face,
.swal-text-face,
.swal-icon-face {
    color: #006064;
}



.main_background{
    display: flex;
    height: 100vh;
    width: 100%;
    /* flex-direction: row; */
}

#img_reg{
    width: 100%;
    height: auto;
}

.main_frame{
	position: relative;
	align-items: center;
	background-color: #f1f2fa;
	min-width: 730px;
}

.face_recognition_instruction{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;

}

.face_recognition_content{
	display: flex;
    flex-direction: column;
	align-items: center;
    margin-top: 20px;
}

.face_recognition_img{
	display: flex;
	align-items: center;
	background-color: #459d9f;
	position: relative;
    max-width: 400px;
	justify-content: center;
}





.continue_btn{
    text-align: center;
}

.popRetryPosition{
	position: relative;
	height: 100%;
	width: 100%;
}

.registerInfoPosition{
    position: relative;
	height: 100%;
	width: 100%;
}
.registerInfo{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	border: 7px solid #338384;
	background: #FFFFFF;
	text-align: center;
	padding: 10px;
    min-width: 500px;
	color: #333;
	transition: transform 0.4s, top 0.4s;
}

.register_info_img {
    max-height: 150px;
    border: 7px solid #338384;
	border-radius: 50%;
    position: absolute;
    left: -20%;
}



.reminder_note{
	text-align: center;
	padding-bottom: 15px;
}

#in_label{
	font-family: 'Lato', sans-serif;
	color: #000000;
}

@media only screen and (max-width: 500px) {

    .face_recognition_img {
        display: none;
    }
}

.welcome_content{
    display: flex;
    min-height: 100vh;
}

.welcome_content_header{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #00070A, #001928);
    padding: 0px 50px;
}


.welcome_content_body{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_content_body_header{
    font-size: 2rem;
    color: #226776;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.welcome_content_body_description{
    max-width: 1000px;
    padding: 0 50px;
    text-indent: 50px;
    margin-bottom: 40px;
    text-align: justify;
    color: #006064;
}

.welcome_content_instruction{
    display: flex;
    justify-content: space-between;
}
.welcome_content_instruction > div{
    margin-right:  10px;
}
.welcome_content_instruction img {
    border-radius: 50%;
}
.welcome_column1{
    height: 410px;
    min-width: 30%;
    align-items: center;
    background-color: #D3E1FC;
    padding: 5px 5px;
    border: #91B3FA solid 5px;
    border-radius: 20px;
    
}
.welcome_column1 img{
    min-width: 100%;
    height: 250px;
    border: #91B3FA solid 3px;
}
.welcome_column2{
    height: 410px;
    min-width: 30%;
    background-color: #91B3FA;
    padding: 5px 5px;
    border: #D3E1FC solid 5px;
    border-radius: 20px;


}
.welcome_column2 img{
    min-width: 100%;
    height: 250px;
    border: #D3E1FC solid 3px;
}
.welcome_column3{
    height: 410px;
    min-width: 30%;
    background-color: #D3E1FC;
    padding: 5px 5px;
    border: #91B3FA solid 5px;
    border-radius: 20px;

}
.welcome_column3 img{
    min-width: 100%;
    height: 250px;
    border: #91B3FA solid 3px;
}

.content_description_header{
    max-width: 300px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #226776;

}
.contenct_description_body{
    max-width: 300px;
    text-align: center;
    color: #226776;
}

.schedule_upper_content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.schedule_upper_content div{
    margin: 10px;
}
.schedule_lower_content{
    padding: 10px 10px;
}
.content_button_input{
    display: flex;
    align-items: center;
}
.create_new_div{
    margin-left: 80px;
}
.view_create_schedule{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    gap: 5px;
    margin-left: 80px */
}
.view_create_schedule a{
    margin: 5px 5px 0 0;

}
#view_schedule_button,
#edit_schedule_button,
#create_schedule_button{
    cursor: pointer;
    background-color: #009ba0;
}

.action_btn {
    background-color: #035c93;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.change_color[type="time"]{
    border: 2px solid #0075FF !important;
}
.change_color[type="text"]{
    border: 2px solid #0075FF !important;
}

#edit_profile_name:not([readonly]):focus,
#input_sched_hour:not([readonly]):focus,
.pic_input_table .input_time[type="time"]:not([readonly]):focus {
    border: 2px solid #2ad5de !important; /* Increase specificity and use !important */
    outline: none; /* Remove default focus outline (optional, as it might affect accessibility) */
}

.custom-swal{
    background: var(--gradient-color) !important;
}
.custom-swal .swal2-title {
    color: white !important;
}

.multiple-select{
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3b3b;
    font-size: 1rem;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important; 
    border: 1px solid #ddd !important;
}

/* End of My Leaves */